<!doctype html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Through The Universe</title>

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
        <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>

        <!-- CSS -->
        <link href="css/reset.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <!-- Javascript -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="js/TweenMax.min.js"></script>
        <script src="js/EasePack.min.js"></script>
        <script src="js/CSSPlugin.min.js"></script>
        <script src="js/jquery.countdown.js"></script>
        <script src="js/js.js"></script>

    </head>

    <body class="direction-right">

        <!-- STARS -->
	    <div class="stars large"></div>
	    <div class="stars small"></div>
        <!-- /STARS -->

        <!-- CONTENT -->
        <div id="content">

            <!-- LOGO -->
            <img src="img/logo.png" alt="Through The Universe">
            <!-- /LOGO -->

            <!-- PANEL -->
            <div id="panel">
                <!-- UNDER CONSTRUCTION -->
                <h1>Under construction</h1>
                <!-- /UNDER CONSTRUCTION -->

                <!-- SUBSCRIBE -->
                <div id="subscribe">
                    <!-- SUBSCRIPTION HEADER -->
                    <p>Subscribe to get notified when we are launched</p>
                    <!-- /SUBSCRIPTION HEADER -->

                    <!-- SUBSCRIPTION FORM -->
                    <form id="subscribe-form" action="subscribe.php" method="POST">
                        <input type="text" id="subscribe-name" name="name" placeholder="Name">
                        <input type="text" id="subscribe-email" name="email" placeholder="Email">
                        <input type="submit" id="subscribe-button" value="Subscribe">
                    </form>
                    <!-- /SUBSCRIPTION FORM -->
                </div>
                <!-- /SUBSCRIBE -->

                <!-- DESCRIPTION -->
                <p id="description">We are gonna go build our own theme park, with blackjack and hookers. In fact, forget the park!</p>
                <!-- /DESCRIPTION -->

                <!-- SOCIAL -->
                <div id="social">
                    <a href="#">
                        <img src="img/social-twitter.png" alt="Twitter">
                    </a>

                    <a href="#">
                        <img src="img/social-facebook.png" alt="Facebook">
                    </a>

                    <a href="#">
                        <img src="img/social-google.png" alt="Google Plus">
                    </a>
                </div>
                <!-- /SOCIAL -->

                <!-- POST SCRIPTUM -->
                <p id="postscriptum">Send us a letter to <a href="#">email@example.com</a> More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a></p>
                <!-- /POST SCRIPTUM -->
            </div>

            <!-- COUNTDOWN -->
            <div id="countdown">
                <div>
                    <div class="days"></div> <!-- number container -->
                    <div class="countdown-text">days</div>
                </div>

                <div>
                    <div class="hours"></div> <!-- number container -->
                    <div class="countdown-text">hours</div>
                </div>

                <div>
                    <div class="minutes"></div> <!-- number container -->
                    <div class="countdown-text">minutes</div>
                </div>

                <div>
                    <div class="seconds"></div> <!-- number container -->
                    <div class="countdown-text">seconds</div>
                </div>
            </div>
            <!-- /COUNTDOWN -->

        </div>
        <!-- /CONTENT -->

        <!-- VERTICAL ALIGN HELPER -->
        <div id="helper"></div>
        <!-- /HELPER -->

    
</body>
</html>