<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
<meta charset="utf-8" />

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--META TAGS-->
<meta name="robots" content="index, follow" />
<meta name="keywords" content="" />
<meta name="title" content="" />
<meta name="description" content="" />
<!--.META TAGS-->

<!--FAVICON-->
<link rel="shortcut icon" href="#" />
<!--.FAVICON-->

<title>Monochrome - Blog</title>

<!-- Included CSS Files -->
<link rel="stylesheet" href="stylesheets/foundation.css">
<link rel="stylesheet" href="stylesheets/app.css">

<!--[if lt IE 9]>
<link rel="stylesheet" href="stylesheets/ie.css">
<![endif]-->

<script src="javascripts/modernizr.foundation.js"></script>

<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body>

<!--main container-->
<div class="container master">

<!--header--><div class="header container">
<div class="row"><!--row-->
<!--logo--><div class="three columns logo">
<a class="left" href="#"><img src="images/logo.png" title="Monochrome" alt="Monochrome" /></a>
</div><!-- /logo-->

<!--navigation--><div class="nine columns">

<ul class="nav-bar right">
<li><a href="index-2.html">Home</a></li>

<!--sub menu--><li class="has-flyout"><a href="#">Features +</a>
<ul class="flyout">
<li><a href="grid.html">Grid</a></li>
<li><a href="typo.html">Typography</a></li>
<li><a href="icons.html">Icons</a></li>
<li><a href="accordion.html">Accordion</a></li>
<li><a href="tabs.html">Tabs</a></li>
<li><a href="elements.html">Elements</a></li>
<!--sub sub menu--><li class="has-flyout-sub"><a href="#">Bonus Pages +</a>

<ul class="sub-flyout">
<li><a href="blog_single.html">Single Post</a></li>
<li><a href="404.html">404 page</a></li>
<li><a href="orbit.html">orbit slider</a></li>

</ul>

</ul><!--.sub sub menu-->

</li><!--.submenu-->

<li><a href="about.html">About</a></li>
<li><a href="services.html">Services</a></li>
<li><a href="portfolio.html">Portfolio</a></li>
<li><a href="blog.html" class="main">Blog</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>

</div><!--.navigation-->

</div><!--.row-->
</div><!--.header-->

<!--title--><div class="row page-title">
<h1><span>our</span> blog</h1>
<h4>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem </h4>
</div><!--.title-->

<!--breadcrumbs--><div class="row">
<ul class="breadcrumbs">
	<li><a href="index-2.html">Home</a></li>
	<li class="current"><a href="blog.html">blog</a></li>
</ul>
</div><!--.breadcrumbs-->

<!--blog page content--><div class="row">

<!--blog posts--><div class="nine columns blog-main">

<!--post 1--><div class="post">

<!--date--><div class="date">
<a href="#">26</a><span>Jun 2011
</span>

<!--comments, user and category meta--><ul class="top-meta">
<li class="user"><a href="#">pebas</a></li>
<li class="category"><a href="#">vivus verus</a></li>
<li class="comment"><a href="#">14</a></li>
</ul><!--.comments, user and category meta-->

</div><!--.date-->

<!--media--><div class="post-media">
<a href="images/ourBlog/1.jpg" rel="prettyPhoto" class="bw"><div class="captify_big"><span class="zoom"></span></div><img src="images/ourBlog/1.jpg" class="border" title="" alt="" /></a>
</div><!--media-->

<!--title--><div class="title">
<h3>Alequam Edis unde omnis iste natus</h3>
</div><!--.title-->

<!--text--><div class="text">
<p>Maluisset imperdiet nec at, <span>eam regione disputationi in. Dicta tibique nec an, vel ea sanctus invidunt intellegebat.
homero his, ut omnesque referrentur</span> vix. Ne nemore utamur sententiae qui, modo malis sit ad. An eam sale perpetua. Quem nostrud eu qui.
<br />
<br />
Placerat hendrerit et est, mei viris impedit elaboraret ei. <span>Erat saperet delicatissimi cu eum. Sale inimicus sapientem ea cum, corpora petentium an has, pro iuvaret accusam molestiae in. Alia summo inimicus et nec, in delectus deseruisse temporibus usu</span>, docendi fabellas nec ei. At mel graeco conceptam definitiones.</p>
</div><!--.text-->

<!--read more button--><div class="read-more">
<a href="blog_single.html" class="small button default">read more</a>
</div><!--.read more button-->

<!--tags--><div class="tags">
<ul class="bottom-meta">
<li class="tags"><a href="#">adiscipit, </a></li>
<li><a href="#">elit, </a></li>
<li><a href="#">voluputatem, </a></li>
<li><a href="#">ilde, </a></li>
<li><a href="#">poltore, </a></li>
<li><a href="#">vivas, </a></li>
<li><a href="#">etnimus</a></li>
<li><a href="#">trole, </a></li>
<li><a href="#">summo, </a></li>
<li><a href="#">cltrare, </a></li>
<li><a href="#">mesdone, </a></li>
<li><a href="#">aem, </a></li>
<li><a href="#">tranum</a></li>
</ul>
</div><!--.tags-->

</div><!--.post 1-->

<!--post 2--><div class="post">

<!--date--><div class="date">
<a href="#">26</a><span>Jun 2011
</span>

<!--comments, user and category meta--><ul class="top-meta">
<li class="user"><a href="#">pebas</a></li>
<li class="category"><a href="#">vivus verus</a></li>
<li class="comment"><a href="#">14</a></li>
</ul><!--.comments, user and category meta-->

</div><!--.date-->

<!--media--><div class="post-media">
<a href="images/ourBlog/2.jpg" rel="prettyPhoto" class="bw"><div class="captify_big"><span class="zoom"></span></div><img src="images/ourBlog/2.jpg" class="border" title="" alt="" /></a>
</div><!--media-->

<!--title--><div class="title">
<h3>Alequam Edis unde omnis iste natus</h3>
</div><!--.title-->

<!--text--><div class="text">
<p><span>Eam regione disputationi in. Dicta tibique nec an, vel ea sanctus invidunt intellegebat.
homero his, ut omnesque referrentur</span> vix. Ne nemore utamur sententiae qui, modo malis sit ad. An eam sale perpetua. Quem nostrud eu qui.
<br />
<br />
<span>Erat saperet delicatissimi cu eum. Sale inimicus sapientem ea cum, corpora petentium an has, pro iuvaret accusam molestiae in. Alia summo inimicus et nec, in delectus deseruisse temporibus usu</span>, docendi fabellas nec ei. At mel graeco conceptam definitiones.</p>
</div><!--.text-->

<!--read more button--><div class="read-more">
<a href="blog_single.html" class="small button default">read more</a>
</div><!--.read more button-->

<!--tags--><div class="tags">
<ul class="bottom-meta">
<li class="tags"><a href="#">adiscipit, </a></li>
<li><a href="#">elit, </a></li>
<li><a href="#">voluputatem, </a></li>
<li><a href="#">ilde, </a></li>
<li><a href="#">poltore, </a></li>
<li><a href="#">vivas, </a></li>
<li><a href="#">etnimus</a></li>
<li><a href="#">trole, </a></li>
<li><a href="#">summo, </a></li>
<li><a href="#">cltrare, </a></li>
<li><a href="#">mesdone, </a></li>
<li><a href="#">aem, </a></li>
<li><a href="#">tranum</a></li>
</ul>
</div><!--.tags-->

</div><!--.post 2-->

<!--post 2--><div class="post">

<!--date--><div class="date">
<a href="#">26</a><span>Jun 2011
</span>

<!--comments, user and category meta--><ul class="top-meta">
<li class="user"><a href="#">pebas</a></li>
<li class="category"><a href="#">vivus verus</a></li>
<li class="comment"><a href="#">14</a></li>
</ul><!--.comments, user and category meta-->

</div><!--.date-->

<!--media--><div class="post-media">
<div class="flex-video widescreen vimeo border">
	<iframe src="http://player.vimeo.com/video/21762736?title=0&amp;byline=0&amp;portrait=0" width="100%" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
</div><!--media-->

<!--title--><div class="title">
<h3>Alequam Edis unde omnis iste natus</h3>
</div><!--.title-->

<!--text--><div class="text">
<p><span>Eam regione disputationi in. Dicta tibique nec an, vel ea sanctus invidunt intellegebat.
homero his, ut omnesque referrentur</span> vix. Ne nemore utamur sententiae qui, modo malis sit ad. An eam sale perpetua. Quem nostrud eu qui.
<br />
<br />
<span>Erat saperet delicatissimi cu eum. Sale inimicus sapientem ea cum, corpora petentium an has, pro iuvaret accusam molestiae in. Alia summo inimicus et nec, in delectus deseruisse temporibus usu</span>, docendi fabellas nec ei. At mel graeco conceptam definitiones.</p>
</div><!--.text-->

<!--read more button--><div class="read-more">
<a href="blog_single.html" class="small button default">read more</a>
</div><!--.read more button-->

<!--tags--><div class="tags">
<ul class="bottom-meta">
<li class="tags"><a href="#">adiscipit, </a></li>
<li><a href="#">elit, </a></li>
<li><a href="#">voluputatem, </a></li>
<li><a href="#">ilde, </a></li>
<li><a href="#">poltore, </a></li>
<li><a href="#">vivas, </a></li>
<li><a href="#">etnimus</a></li>
<li><a href="#">trole, </a></li>
<li><a href="#">summo, </a></li>
<li><a href="#">cltrare, </a></li>
<li><a href="#">mesdone, </a></li>
<li><a href="#">aem, </a></li>
<li><a href="#">tranum</a></li>
</ul>
</div><!--.tags-->

</div><!--.post 2-->


<!--pagination-->
<div class="row paginate">

<ul class="pagination">
  <li class="current"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
</ul>

</div><!--paginate-->

</div><!--.blog posts-->

<!--three columns sidebar--><div class="three columns">

<div class="blog-sidebar"><!--blog sidebar-->
<div class="search">
<h4>search</h4>
<form  method="get" action="#">
<fieldset>
<input type="text" />
<input class="search_btn" type="submit" value="GO" />
</fieldset>
</form>
</div>
</div><!--.blog sidebar-->


<!--categories--><div class="categories">
<h4>categories</h4>
<ul class="blog-category">
<li><a href="#">Alequam necit elit</a></li>
<li><a href="#">Voluputatem dolor</a></li>
<li><a href="#">Partim adiscipit</a></li>
<li><a href="#">Summo undolare</a></li>
<li><a href="#">Redis menu</a></li>
</ul>
</div><!--.categories-->

<!--categories--><div class="popular-posts">
<h4>most popular posts</h4>

<!--small post--><div class="small-post">
<a href="images/ourBlog/1.jpg" rel="prettyPhoto" class="bw left"><img class="border" src="images/ourBlog/small2.jpg" title="" alt="" /></a>
<p class="small"><span class="glyph small">o</span> <a href="#" class="small">pebas</a><br />
Am regione disp utati in di...</p>
</div><!--.small post-->

<!--small post--><div class="small-post">
<a href="images/ourBlog/2.jpg" rel="prettyPhoto" class="bw left"><img class="border" src="images/ourBlog/small1.jpg" title="" alt="" /></a>
<p class="small"><span class="glyph small">o</span> <a href="#" class="small">johnathan doe</a><br />
Valerum regeae massem...</p>
</div><!--.small post-->

<!--small post--><div class="small-post">
<a href="images/ourBlog/1.jpg" rel="prettyPhoto" class="bw left"><img class="border" src="images/ourBlog/small3.jpg" title="" alt="" /></a>
<p class="small"><span class="glyph small">o</span> <a href="#" class="small">themeforest</a><br />
Pericuolis sum mo...</p>
</div><!--.small post-->

</div><!--.categories-->

</div><!--.three columns sidebar-->

</div><!--.blog page content-->

<!--footer--><div class="footer container">

<!--row--><div class="top row">

<!--newsletter--><div class="three columns ">
<h4>Stay In Touch</h4>
<!--hidden sucess on submit-->
<div class="success panel"></div>
<!--.hidden sucess on submit-->
<p>Maluisset imperdiet nec at, eam regione disputationi in dicta tibique</p>
<form class="newsletter" method="post" action="#">
<fieldset>
<input type="text" class="require email" name="email" value="Your email...">
<a class="button small default" name="submit">Sign Up</a>
</fieldset>
</form>
</div><!--.newsletter-->

<!--our parters--><div class="three columns">
<h4>Our Partners</h4>
<ul class="partners">
<li><span class="glyph general">f</span>Maluisset imperdiet necrimos</li>
<li><span class="glyph general">f</span>Aam regione disputatio</li>			
<li><span class="glyph general">f</span>Dicta tibique nec an, velputa</li>	
<li><span class="glyph general">f</span>Sanctus invidunt intellege</li>
<li><span class="glyph general">f</span>Ne quod homero his</li>			
<li><span class="glyph general">f</span>Omnesque referrentur vix.</li>
</ul>
</div><!--.our partenrs-->

<!--latest tweets--><div class="three columns">
<h4>Latest Tweet</h4>
<div class="tweet">
</div>
</div><!--.latest tweets-->


<!--contact info--><div class="three columns">
<h4>Contact Info</h4>
<ul class="vcard">
<li class="org">Monochrome Design Studio</li>
<li class="org">New York City, 2 Street </li>
<li class="org">USA</li>
<li class="tel"><a href="tel:408-867-5309">+(381) 408-867-5309</a></li>
<li><a class="url" href="mailto:pebasdesign@gmail.com">pebasdesign@gmail.com</a></li>
</ul>
</div><!--.contact info-->

</div><!--.row-->

<!--row--><div class="row bottom">

<div class="left">
<ul class="nav">
<li>&copy; 2013 MONOCHROME THEME</li>
<li><a href="#">Sitemap</a></li>
<li><a href="#">Copyrights</a></li>
<li><a href="#">Privacy</a></li>
<li><a href="#">Disclosure</a></li>
<li><a href="#">FAQ</a></li>
</ul>
</div>

<div class="right">
<ul class="social">
<li><a href="#"><img src="images/facebook.png" alt="facebook" title="facebook" /></a></li>
<li><a href="#"><img src="images/twitter.png" alt="twitter" title="twitter" /></a></li>
<li><a href="#"><img src="images/flickr.png" alt="flickr" title="flickr" /></a></li>
<li><a href="#"><img src="images/dribble.png" alt="dribble" title="dribble" /></a></li>
</ul>
</div>

</div><!--.row-->

</div><!--.footer container-->

</div>
<!--.main container-->

<!--scroll to top-->
<a href="#" class="scrollup">Top</a>
<!--.scroll to top-->

<!--Included JS Files -->
<script src="javascripts/jquery.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="javascripts/jquery.minified.plugins.js"></script>
<script src="javascripts/app.js"></script>
<!--.Included JS Files -->


</body>
</html>
