<!DOCTYPE html>
<html>
	
<head>
		<meta charset="utf-8" />
		<meta name="description" content="Enter there short description of your site" />
		<title>Goodold Restaurant - HTML Template</title>
		<!-- BEGIN SCRIPT INCLUDE -->
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/nivoSlider.js"></script>
		<script type="text/javascript" src="js/lightBox.js"></script>
		<script type="text/javascript" src="js/fancyCaption.js"></script>
		<script type="text/javascript" src="js/jqueryui.js"></script>
		<script type="text/javascript" src="js/general.js"></script>
		<script type="text/javascript" src="js/twitterFeed.js"></script>
		<!-- END SCRIPT INCLUDE -->
		<!-- BEGIN STYLE INCLUDE -->
		<link rel="stylesheet" type="text/css" href="css/nivo-slider.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" />
		<link rel="stylesheet" type="text/css" href="css/fancy-caption.css" />
		<link rel="stylesheet" type="text/css" href="css/jquery.tweet.html" />
		<!-- END STYLE INCLUDE -->
		<!-- Loading Google Maps API (be sure to change key below on you own key) -->
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCbEJ826CbvSGwFTtO-KTWoowpdn3GxF50&amp;sensor=false"></script>
		<!-- Google web font include -->
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Oleo+Script|Droid+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<!-- BEGIN HEADER -->
		<header id="scrolltop">
			<div id="header">
				<div id="header-content">
					<div id="header-telephone">
						<img src="images/phone.png" alt="Phone image" />
						<span>CALL US: +474 7457 374</span>
					</div>
					<div id="social-button">
						<a href="#"><img src="images/facebook.png" alt="Facebook icon" /></a>
						<a href="#"><img src="images/twitter.png" alt="Twitter icon" /></a>
						<a href="#"><img src="images/rss.png" alt="RSS icon" /></a>
						<a href="#"><img src="images/linkedin.png" alt="Linkedin icon" /></a>
						<a href="#"><img src="images/google.png" alt="Google icon" /></a>
					</div>
					<div id="menu">
						<ul id="menu-item">
							<li id="item-home"><a href="index.html"><span class="menu-item-text1">HOME</span><span class="menu-item-text2">SITE</span><span class="menu-item-text3">HOMEPAGE</span></a></li>
							<li id="item-menu"><a href="menu.html"><span class="menu-item-text1">MENU</span><span class="menu-item-text2">LIST OF OUR</span><span class="menu-item-text3">DISHES</span></a></li>
							<li id="item-blog"><a href="blog.html"><span class="menu-item-text1">BLOG</span><span class="menu-item-text2">NEWS &</span><span class="menu-item-text3">EVENTS</span></a>
								<div id="drop-down-blog">
									<img src="images/triangle.png" class="drop-triangle" alt="Triangle icon" />
									<ul class="drop-down">
										<li><a href="blog.html">Blog</a></li>
										<li><a href="blogpost.html">Blog post</a></li>
									</ul>
								</div>
							</li>
							<li id="item-gallery"><a href="gallery.html"><span class="menu-item-text1">GALLERY</span><span class="menu-item-text2">RESTAURANT</span><span class="menu-item-text3">PHOTOS</span></a></li>
							<li id="item-story">
								<a href="about.html"><span class="menu-item-text1">STORY</span><span class="menu-item-text2">LEARN MORE</span><span class="menu-item-text3">ABOUT US</span></a>
								<div id="drop-down-story">
									<img src="images/triangle.png" class="drop-triangle" alt="Triangle icon"/>
									<ul class="drop-down">
										<li><a href="about.html">About Us</a></li>
										<li><a href="columns.html">Columns</a></li>
										<li><a href="button.html">Buttons</a></li>
										<li><a href="tables.html">Tables</a></li>
										<li><a href="widget.html">Widget</a></li>
										<li><a href="messagebox.html">Message Box</a></li>
									</ul>
								</div>
							</li>
							<li id="item-contact"><a href="contact.html"><span class="menu-item-text1">CONTACT</span><span class="menu-item-text2">GET IN TOUCH</span><span class="menu-item-text3">WITH US</span></a></li>	
						</ul>
					</div>					
				</div>
			</div>	
		</header>
		<!-- END HEADER -->
		<!-- BEGIN PAGE TITLE -->
		<div id="page-title-wrap">
			<div id="page-title">
				<div id="page-title-content">Buttons Example</div>
				<img id="left-ornament" src="images/left_ornament.png" alt="Left ornament" />
				<img id="right-ornament" src="images/right_ornament.png" alt="Right ornament" />
			</div>
			<div id="page-title-descr">(to convert the element to a button, simply add the appropriate class)</div>
		</div>
		<!-- END PAGE TITLE -->
		<!-- BEGIN BUTTON CONTENT -->
		<div id="main-content" class="story-pages">
			<div id="content-left" class="full-content">
				<h1>Blue button</h1>
				<div class="story-header-wrap">
					<div>Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus acus enim ac dui. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. </div>
					<a href="#" class="button blue">Blue Button</a>
					<div class="code clear">&lt;a class="button blue"&gt;</div>
				</div>
				<h1>Red button</h1>
				<div class="story-header-wrap">
					<div>Nam vestibulum, ante sed egestas sagittis, erat magna venenatis ligula, id dignissim justo augue vitae metus. Nullam bibendum bibendum lorem, at porta urna commodo eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc cursus tempus aliquet. </div>
					<a href="#" class="button red">Red Button</a>
					<div class="code clear">&lt;a class="button red"&gt;</div>
				</div>
				<h1>Green button</h1>
				<div class="story-header-wrap">
					<div>In massa ipsum, commodo et tincidunt vitae, varius vitae velit. Vestibulum ultricies nisi a dui vulputate convallis. Sed massa velit, faucibus vitae volutpat eu, adipiscing quis sem. Nunc dapibus viverra tortor sed vestibulum. Sed suscipit feugiat lorem vitae molestie. Donec mattis ligula ac augue porta vitae ornare odio interdum. Nam dignissim dui eu arcu commodo et pellentesque ipsum rhoncus. Curabitur aliquet quam ut dolor tincidunt ac scelerisque orci elementum. Curabitur non nulla a eros egestas posuere vel et dolor. Sed scelerisque purus ac sem fringilla a lobortis sem condimentum. </div>
					<a href="#" class="button green">Green Button</a>
					<div class="code clear">&lt;a class="button green"&gt;</div>
				</div>
			</div>
		</div>
		<!-- END BUTTON CONTENT -->
		<div class="clear"></div>
		<!-- BEGIN PREFOOTER -->
		<div id="prefooter-nomain-wrap">
			<div id="prefooter-content">
				<a href="#scrolltop" class="scroll"><img src="images/top.png" id="scrolltop-img" alt="Scroll to top" /></a>
				<div id="findus">
					<div class="preheader">HOW TO</div>
					<h1>FIND US</h1>
					<img src="images/adresspin.png" alt="Pin icon" />
					<div id="adress-wrap">
						<p id="restaurant-name">Goodold Restaurant</p>
						<p id="restaurant-address">45 Silent River Street, New York.</p>
					</div>
					<div id="gmaps"></div>
				</div>
				<div id="hours">
					<div class="preheader">RESTAURANT</div>
					<h1>HOURS</h1>
					<div class="hours-head">BREAKFAST</div>
					<div class="meal-wrap">
						<div class="date">Monday-Friday</div><div class="time">08:00-11:00</div>
						<div class="clear"></div>
						<div class="date">Saturday&amp;Sunday</div><div class="time">10:00-12:00</div>
						<div class="clear"></div>
					</div>
					<div class="footer-divider"></div>
					<div class="hours-head">LUNCH</div>
					<div class="meal-wrap">
						<div class="date">Monday-Friday</div><div class="time">11:00-17:00</div>
						<div class="clear"></div>
						<div class="date">Saturday&amp;Sunday</div><div class="time">12:00-18:00</div>
						<div class="clear"></div>
					</div>
					<div class="footer-divider"></div>
					<div class="hours-head">DINNER</div>
					<div class="meal-wrap">
						<div class="date">Monday-Friday</div><div class="time">17:00-21:00</div>
						<div class="clear"></div>
						<div class="date">Saturday</div><div class="time">18:00-22:00</div>
						<div class="clear"></div>
						<div class="date">Sunday</div><div class="time">18:00-21:00</div>
						<div class="clear"></div>
					</div>
				</div>
				<div id="events">
					<div class="preheader">COMING</div>
					<h1>EVENTS</h1>
					<div class="event-wrap">
						<div class="event-date">DECEMBER 10, 2011</div>
						<div class="event-header"><a href="blogpost.html">DISCOUNTS FOR ALL</a></div>
						<div class="event-content">Today, our 151 birthday, so all meals will be sold with a 50% discount. If you have long planned to visit our restaurant, now is the time!</div>
						<div class="event-readmore"><a href="blogpost.html">Read more ...</a></div>
					</div>
					<div class="footer-divider"></div>
					<div class="event-wrap">
						<div class="event-date">DECEMBER 1, 2011</div>
						<div class="event-header"><a href="blogpost.html">DAY OF LOREM</a></div>
						<div class="event-content">Pellentesque habitant morbi tristique senec et netus et malesuada fames ac turpis ege. Vestibulum tortor quam, feugiat vitae, ultrici eget, tempor sit amet, ante.</div>
						<div class="event-readmore"><a href="blogpost.html">Read more ...</a></div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PREFOOTER -->
		<!-- BEGIN FOOTER -->
		<div id="footer">
			<div id="footer-content">
				<div id="footer-copyright">&copy; Copyright &copy; 2013.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/" title="模板之家">模板之家</a> Collect from <a href="http://www.cssmoban.com/" title="网站模板" target="_blank">网站模板</a></div>
				<div id="footer-misc"><a href="#">Term of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></div>
			</div> 
		</div>
		<!-- END FOOTER -->

</body>
</html>