<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Snapshot</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
<!--For images carousel-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<!--For Portfolio-->
<script src="js/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/jquery.quicksand.js"></script>
<script type="text/javascript" src="js/setting.js"></script>
<!--For Menu-->
<script type='text/javascript' src='js/superfish3d36.js?ver=3.3.1'></script>
<script type='text/javascript' src='js/jquery.custom5152.js?ver=1.0'></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<!--For prettyPhoto-->
<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet"  />
<script src="js/jquery.prettyPhoto.js" type="text/javascript" ></script>
</head>
<body>
<!-- Header Start-->
<div class="header-wrapper1">
  <div id="header"><a href="index-2.html" id="logo"><img src="images/logo.png" alt="" /></a>
    <!-- Top Menu Start-->
    <div id="primary-nav">
      <ul id="menu-primary-menu" class="sf-menu">
        <li><a href="index-2.html"><span>Homepage</span></a> </li>
        <li><a href="#" class="sf-with-ul">Features</a>
          <ul class="sub-menu">
            <li><a href="index_light.html"><span>Light Skin</span></a></li>
            <li><a href="index_dark.html"><span>Dark Skin</span></a></li>
            <li><a href="full-width.html"><span> Full Width</span></a></li>
            <li><a href="blog_post.html"><span>Post Page</span></a></li>
          </ul>
        </li>
        <li><a href="about.html"><span>About</span></a></li>
        <li><a href="blog.html"><span>Blog</span></a></li>
        <li><a href="portfolio.html"><span>Portfolio</span></a></li>
        <li><a href="contact.html"><span>Contact</span></a></li>
      </ul>
      <!-- END #primary-nav -->
    </div>
  </div>
  <div class="title"> Portfolio <span>/ Subtitle</span></div>
</div>
<!-- Middle Part Start-->
<div id="middle-wrapper">
  <!-- Left Section Start-->
  <div class="portleft">
    <h3>Filter</h3>
    <ul class="portfolio_list spacermin10">
      <li class="active"><span>&rarr;</span> <a href="#" class="all">All</a> </li>
      <li><span>&rarr;</span> <a href="#" class="adv">Advertisement</a></li>
      <li><span>&rarr;</span> <a href="#" class="ecommerce">e-Commerce Design</a></li>
      <li><span>&rarr;</span> <a href="#" class="interface">Interfrace Design</a></li>
      <li><span>&rarr;</span> <a href="#" class="webdesign">Website Design</a></li>
      <li><span>&rarr;</span> <a href="#" class="branding">Logo Design</a></li>
      <li><span>&rarr;</span> <a href="#" class="print">Print</a></li>
      <li><span>&rarr;</span> <a href="#" class="branding">Branding</a></li>
    </ul>
  </div>
  <!-- Right Section Start-->
  <div class="portright">
    <h3>Our Works</h3>
    <ul class="portfolio_contain gallery">
      <li data-id="id-1" data-type="interface" class="main" > <a href="images/big-img.jpg" rel="prettyPhoto[gallery2]"><img src="images/port1.jpg" alt="" /> Graphic River <span>Website / Interface Design</span></a> </li>
      <li data-id="id-2" data-type="webdesign" class="main"> <a href="images/big-img.jpg" rel="prettyPhoto[gallery2]"><img src="images/port2.jpg" alt=""  /> Rockable Press <span>Website / Interface Design</span> </a></li>
      <li data-id="id-3" data-type="ecommerce" class="main last "> <a href="images/big-img.jpg" rel="prettyPhoto[gallery2]"><img src="images/port3.jpg" alt=""  />Mini Cards <span>e-Commerce Design</span></a> </li>
      <li data-id="id-4" data-type="adv" class="main"> <a href="images/big-img.jpg" rel="prettyPhoto[gallery2]"><img src="images/port4.jpg" alt=""  />Rockable Press <span>Advertisement</span></a></li>
      <li data-id="id-5" data-type="webdesign" class="main"> <a href="images/big-img.jpg" rel="prettyPhoto[gallery2]"><img src="images/port5.jpg" alt="" />Collis Ta&#8217;eed <span>Website Design</span></a></li>
      <li data-id="id-6" data-type="webdesign" class="main last"> <a href="images/big-img.jpg" rel="prettyPhoto[gallery2]"><img src="images/port6.jpg" alt=""  />GraphicRiver <span>Website Design</span></a> </li>
      <li data-id="id-7" data-type="webdesign" class="main"> <a href="images/big-img.jpg" rel="prettyPhoto[gallery2]"><img src="images/port7.jpg" alt="" />Graphic River <span>Website Design</span></a></li>
      <li data-id="id-8" data-type="branding" class="main"> <a href="images/big-img.jpg" rel="prettyPhoto[gallery2]"><img src="images/port8.jpg" alt="" />Rockable Press <span>Branding</span></a></li>
      <li data-id="id-9" data-type="ecommerce" class="main last"> <a href="images/big-img.jpg" rel="prettyPhoto[gallery2]"><img src="images/port9.jpg" alt=""  />Rockstar Freelancer <span>e-Commerce Design</span></a></li>
      <li data-id="id-10" data-type="interface" class="main last"> <a href="images/big-img.jpg" rel="prettyPhoto[gallery2]"><img src="images/port10.jpg" alt=""  />Collis Ta&#8217;eed <span>Interface Design</span></a></li>
      <li data-id="id-11" data-type="print" class="main last"> <a href="images/big-img.jpg" rel="prettyPhoto[gallery2]"><img src="images/port11.jpg" alt=""  />Say It Print! <span>Print</span></a></li>
      <li data-id="id-12" data-type="adv" class="main last"> <a href="images/big-img.jpg" rel="prettyPhoto[gallery2]"><img src="images/port12.jpg" alt=""  />Mini Cards <span>Advertisement</span></a></li>
    </ul>
  </div>
</div>
<!-- Footer Part Start-->
<div id="footer">
  <div id="footer-inner">
    <div class="footer-details">
      <div class="logo-btm"><img src="images/logo-btm.png" alt="" /> </div>
      <p>Nunce ullamacorper commodo seemas placerater. Seeda arcuae est, maleuada ut vulputate in, tincidunt nec orci.</p>
      <ul class="social">
        <li class="facebook"> <a href="#"> </a> </li>
        <li class="twitter"> <a href="#"> </a></li>
        <li class="vimeo"> <a href="#"> </a></li>
        <li class="linkdin"><a href="#"> </a> </li>
        <li class="flickr"> <a href="#"> </a></li>
      </ul>
    </div>
    <div class="footer-details">
      <h4>Contact Details</h4>
      <div class="address"><img src="images/address.png" alt="" /> <strong>Address:</strong> Aleje Jerozolimskie 30,
        Warsaw, Poland </div>
      <div class="address"><img src="images/phone.png" alt="" width="14" height="18" /> <strong>Phone:</strong> +44 (0) 560-655-995</div>
      <div class="address"><img src="images/mail.png" alt="" width="15" height="12" /> <strong>Email:</strong> <a href="#">contact@snapshot.com</a></div>
    </div>
    <div class="footer-details">
      <h4>Photo Stream</h4>
      <div class="Stream">
	  <a href="#"><img src="images/photo1.jpg" alt="" /></a>
	  <a href="#"><img src="images/photo2.jpg" alt="" /></a>
	  <a href="#"><img src="images/photo3.jpg" alt=""  class="no-margin"/></a>
	  </div>
    </div>
    <div class="footer-details no-margin">
      <h4>Newsletter</h4>
      <p> Let's keep in touch! Sign up for our newsletter to recieve offers and news.</p>
      <input type="text" onblur="if(this.value=='')this.value='Enter your email adress';" onfocus="if(this.value=='Enter your email adress')this.value='';" value="Enter your email adress" class="newsletter">
    </div>
    <!-- Footer Info Part Start-->
    <div class="Finfo">
      <div class="copyright">&copy; Copyright &copy; 2013.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">????</a></div>
    </div>
  </div>
</div>

</body>
</html>
